.banner__container {
  width: 100%;
  height: auto;
  margin-bottom: 60px;
  margin-top: 55px;
}

.banner {
  width: 100%;
  height: auto;
  object-fit: cover;
  max-height: 400px;
  display: block;
}

@media screen and (max-width: 900px) {
  .banner__container {
    margin-top: 0;

  }
}

@media screen and (max-width: 700px) {
  .banner__container {
    margin-bottom: 30px;
  }
}
