.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-family: 'Cera Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #292929;

}

.text {
  font-family: 'Cera Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.button {
  background: #12979B;
  border-radius: 10px;
  border: none;
  font-family: 'Cera Pro', sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

h3.hover__link {
  background-image: linear-gradient(to right, #12979b, #12979b 50%, #292929 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover__link {
  background-image: linear-gradient(to right, #12979b, #12979b 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover__link:before {
  content: "";
  background: #12979b;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.hover__link:hover {
  background-position: 0;
}

.hover__link:hover::before {
  width: 100%;
}

@media screen and (max-width: 1200px) {
  .title {
    font-size: 45px;
    line-height: 110%;
  }
}

@media screen and (max-width: 500px) {
  .button {
    font-size: 18px;
    line-height: 22px;
  }
}

@media screen and (max-width: 320px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
