.wrapper {
  max-width: 1200px;
  margin: 0 auto;
}

.title {
  font-style: normal;
  font-weight: 700;
  font-size: 50px;
  line-height: 120%;
  color: #292929;

}

.text {
  font-style: normal;
  font-weight: 400;
  font-size: 20px;
  line-height: 25px;
  color: #000000;
}

.button {
  background: #12979B;
  border-radius: 10px;
  border: none;
  font-style: normal;
  font-weight: 700;
  font-size: 20px;
  line-height: 25px;
  color: #FFFFFF;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

p.hover__link {
  background-image: linear-gradient(to right, #12979b, #12979b 50%, #292929 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

h3.hover__link {
  background-image: linear-gradient(to right, #12979b, #12979b 50%, #292929 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover__link {
  background-image: linear-gradient(to right, #12979b, #12979b 50%, #fff 50%);
  background-size: 200% 100%;
  background-position: -100%;
  display: inline-block;
  padding: 5px 0;
  position: relative;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.hover__link:before {
  content: "";
  background: #12979b;
  display: block;
  position: absolute;
  bottom: -3px;
  left: 0;
  width: 0;
  height: 3px;
  transition: all 0.3s ease-in-out;
}

.hover__link:hover {
  background-position: 0;
}

.hover__link:hover::before {
  width: 100%;
}

.btn__create__container {
  margin: 25px auto;
  display: flex;
}

.btn__create {
  width: 220px;
  height: 45px;
  border-radius: 10px;
  background: #12979B;
  color: #FFF;
  font-size: 12px;
  font-weight: 700;
  border: none;
  cursor: pointer;
  margin: 0 auto;
  transition: all .5s ease;

  &:hover {
    background: #0a5557;
  }

  &:disabled {
    opacity: 0.5;
    cursor: not-allowed;

    &:hover {
      background: #12979B;
    }
  }
}

.btns__edit__wrapper {
  padding: 0 30px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.edit__btn {
  border-radius: 10px;
  background: #06477e;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  width: 200px;
  border: none;
  cursor: pointer;
  height: 45px;
  transition: all .5s ease;

  &:hover {
    background: rgb(4, 51, 91);
  }
}

.delete__btn {
  border-radius: 10px;
  background: #64070b;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  width: 200px;
  border: none;
  cursor: pointer;
  height: 45px;

  transition: all .5s ease;

  &:hover {
    background: rgb(63, 4, 7);
  }
}

.cancel__btn {
  border-radius: 10px;
  background: #645107;
  font-size: 12px;
  font-weight: 700;
  color: #FFF;
  width: 200px;
  border: none;
  cursor: pointer;
  height: 45px;

  transition: all .5s ease;

  &:hover {
    background: #3d3104;
  }
}


@media screen and (max-width: 1200px) {
  .title {
    font-size: 45px;
    line-height: 110%;
  }
}

@media screen and (max-width: 900px) {
  .title {
    font-size: 40px;
  }
}

@media screen and (max-width: 500px) {
  .button {
    font-size: 18px;
    line-height: 22px;
  }
  .title {
    font-size: 30px;
    line-height: 110%;
  }
}

@media screen and (max-width: 320px) {
  .button {
    font-size: 16px;
    line-height: 20px;
  }
}
