@keyframes notification {
  0% {
    bottom: -100px;
  }
  100% {
    bottom: 0;
  }
}

.notification {
  position: fixed;
  background: rgb(0 190 185 / 58%);
  left: 0;
  width: 100vw;
  height: 80px;
  animation-name: notification;
  animation-iteration-count: 1;
  animation-duration: 1s;
  animation-timing-function: linear;
  animation-fill-mode: forwards;
  bottom: -100px;
}

.allow {
  transition: all 1s ease-in-out;
  bottom: -100px;
}


.wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 100%;
  gap: 20px;
  width: 80%;
  margin: 0 auto;
}

.text {
  font-size: 20px;
  line-height: 105%;
}

.button {
  min-width: 200px;
  width: auto;
  height: 50px;
  padding: 0 10px;
}


@media screen and (max-width: 768px) {
  .text {
    font-size: 18px;
  }
  .button {
    min-width: 180px;
    font-size: 18px;
    line-height: 22px;
  }
}


@media screen and (max-width: 700px) {
  .wrapper {
    width: 92%;
  }
}

@media screen and (max-width: 550px) {
  .wrapper {
    width: 98%;
    gap: 5px;
  }
  .text {
    font-size: 14px;
  }
  .button {
    min-width: 140px;
    font-size: 14px;
    line-height: 18px;
  }
}

@media screen and (max-width: 350px) {
  .wrapper {
    width: 99%;
  }
  .text {
    font-size: 12px;
  }
  .button {
    min-width: 120px;
    font-size: 12px;
    line-height: 16px;
  }
}
