.container {
  max-width: 1200px;
  margin: 0 auto;
}

.history {

}

.history__wrapper {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.text__wrapper {
  display: flex;
  flex-direction: column;
  gap: 23px;
}

.img__doctors {
  border-radius: 2px;
  width: 575px;
  height: 514px;
  margin-bottom: 23px;
}


.doctors {

}

.doctors__title {

}

.doctor__wrapper {

}

.doctor__img {

}

.doctor__position {

}

.doctor__name {

}

.comments {

}

.comments__wrapper {

}

.comments__title {

}
