.container {
  margin-top: 55px;
  min-height: 700px;
}

.skeleton {
  width: 100vw;
  height: 700px !important;
}

.img {
  width: 100%;
  height: 100%;
  max-height: 700px;
  object-fit: cover;
}

@media screen and (max-width: 1900px) {
  .container {
    min-height: 550px;
  }
  .img {
    max-height: 550px;
  }
  .skeleton {
    height: 550px !important;
  }
}

@media screen and (max-width: 1200px) {
  .container {
    min-height: 380px;
  }
  .img {
    max-height: 380px;
  }
  .skeleton {
    height: 380px !important;
  }
}


@media screen and (max-width: 900px) {
  .container {
    margin-top: 46px;
    min-height: 330px;
  }
  .container {
    min-height: 330px;
  }
  .img {
    max-height: 330px;
  }
  .skeleton {
    height: 330px !important;
  }
}

@media screen and (max-width: 600px) {
  .container {
    min-height: 260px;
  }
  .img {
    max-height: 260px;
  }
  .skeleton {
    height: 260px !important;
  }
}

@media screen and (max-width: 550px) {
  .container {
    min-height: 200px;
  }
  .img {
    max-height: 200px;
  }
  .skeleton {
    height: 200px !important;
  }
}

@media screen and (max-width: 430px) {
  .container {
    min-height: 190px;
  }
  .img {
    max-height: 190px;
    height: 190px;
  }
  .skeleton {
    height: 190px !important;
  }
}

@media screen and (max-width: 400px) {
  .container {
    min-height: 160px;
  }
  .img {
    max-height: 160px;
    height: 160px;
  }
  .skeleton {
    height: 160px !important;
  }
}

@media screen and (max-width: 400px) {
  .container {
    min-height: 140px;
  }
  .img {
    max-height: 140px;
    height: 140px;
  }
  .skeleton {
    height: 140px !important;
  }
}

