
.container {
  max-width: 1200px;
  width: 100%;
  margin: 0 auto;
}

.list {
  display: flex;
  flex-direction: column;
  gap: 40px;
  max-width: 1180px;
  margin: 0 auto;
  width: 90%;
}

.tag__title {
  color: #292929;
  font-size: 50px;
  font-style: normal;
  font-weight: 700;
  line-height: 120%;
}

.tag__title__line {
  display: inline-block;
  width: 169px;
  height: 5px;
  background: #12979B;
}

.wrapper {
  background: #F6F6F6;
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 40px;
  transition: all 0.6s ease;
  cursor: pointer;

  &:hover {
    background: #12979B;

    & .title {
      color: #FFFFFF;
    }
  }

}

.img {
  width: 360px;
  min-width: 360px;
  height: 200px;
  object-fit: cover;
}

.title {
  color: #292929;
  font-size: 35px;
  font-weight: 700;
  line-height: 105%;
}

.form__wrapper {
  margin: 90px auto 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1000px) {
  .tag__title__line {
    margin-left: -50px;
  }
}

@media screen and (max-width: 900px) {
  .list {
    gap: 30px;
    width: 94%;
  }
  .form__wrapper {
    margin: 40px auto 50px;
  }

  .wrapper {
    gap: 30px;
  }
  .img {
    width: 250px;
    min-width: 250px;
    height: 170px;
  }
  .title {
    font-size: 25px;
  }
  .tag__title__line {
    margin-left: -27px;
  }
}


@media screen and (max-width: 700px) {
  .list {
    gap: 20px;
    width: 94%;
  }
  .wrapper {
    gap: 20px;
  }
  .form__wrapper {
    margin: 40px auto 50px;
  }
  .img {
    width: 130px;
    min-width: 130px;
    height: 130px;
  }
  .title {
    font-size: 20px;
  }
}

@media screen and (max-width: 500px) {
  .wrapper {
    gap: 15px;
  }
  .title {
    font-size: 18px;
  }
}
