.title__container {
  max-width: 1200px;
  margin: 0 auto 40px;
  text-align: center;
}

.doctors {
  margin: 90px 0 100px;
}

.doctors__title {
  text-align: center;
}

.doctors__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 40px;
  margin-top: 45px;
}

.hover__wrapper {
  position: relative;
  background: rgba(4, 149, 168, 0.18);
  transition: 0.5s all ease;
}

.doctor__img {
  width: 367px;
  height: 420px;
  object-fit: contain;
  margin: 0 auto;
  display: block;
  transition: 0.5s all ease;
}

.hover__wrapper:hover {
  background: rgba(18, 151, 155, 0.90);
  transition: 0.5s all ease;
}

.hover__wrapper:hover .doctor__img {
  opacity: 0.1;
  transition: 0.5s all ease;
}

.hover__wrapper:hover .opacity__text {
  opacity: 1;
  transition: 0.5s all ease;
  bottom: 0;
}

.opacity__text {
  font-size: 17px;
  opacity: 0;
  line-height: 21px;
  transition: 0.5s all ease;
  color: #3D3D3D;
  position: absolute;
  bottom: 0;
  padding: 0 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
}

.wrapper__opacity {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.list__opacity {
  color: #FFF;
  font-size: 22px;
  font-style: normal;
  font-weight: 500;
  line-height: 105%;
  display: flex;
  align-items: center;
  gap: 11px;
}

.icon__check {
  min-width: 22px;
  min-height: 22px;
}

.doctor__position {
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #3D3D3D;
  text-align: center;
  margin-top: 30px;
}

.doctor__name {
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}

.subtitle__container {
  margin-top: 40px;
  text-align: center;
}

@media screen and (max-width: 1200px) {
  .doctors__container {
    width: 80%;
    margin: 45px auto 0;
  }

  .title__container {
    width: 80%;
  }
}

@media screen and (max-width: 1000px) {
  .doctors__container {
    width: 90%;
  }
}

@media screen and (max-width: 870px) {
  .doctors {
    margin: 50px 0;
  }
  .doctors__container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

@media screen and (max-width: 700px) {
  .title__container {
    margin: 0 auto 30px;
    width: 90%;
  }
}

@media screen and (max-width: 410px) {
  .doctor__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .doctor__position {
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 350px) {

  .doctor__position {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .doctor__name {
    font-size: 27px;
    line-height: 35px;
  }
}
