.page {
    max-width: 1180px;
    margin: 0 auto;
}

.title__wrapper {
    margin: 50px auto 0;
}

.service__info {
    margin: 20px auto 36px;
}

.service__info__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    gap: 20px;
}

.service__info__list {
    background: #FFFFFF;
    box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
    border-radius: 10px;
    width: 380px;
    min-width: 380px;
    padding: 26px 15px 26px 36px;
    margin: 0 3px;
}

.service__info__list__pointer {
    cursor: pointer;
}

.service__info__subtitle {
    font-weight: 700;
    font-size: 25px;
    line-height: 31px;
    color: #292929;
}

.info__body__wrapper {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin-top: 17px;
    gap: 20px;
}

.info__body__text {
    font-style: normal;
    font-weight: 400;
    font-size: 12px;
    line-height: 12px;
    letter-spacing: 0.15em;
    color: #292929;
}

.dental__care {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
}

.dental__care__img {
    width: 400px;
    height: 414px;
    object-fit: contain;
}

.dental__care__title {
    color: #292929;
}

.dental__care__text {
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 18px;
    color: #000000;
    margin: 26px 0 50px;
}

.dental__care__button {
    background: linear-gradient(271.18deg, #12979B 87.49%, rgba(62, 180, 184, 0.51) 99.44%);
    border-radius: 11px;
    border: none;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 18px;
    color: #FFFFFF;
    width: 325px;
    height: 45px;
    cursor: pointer;
}

.about {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 80px;
    margin: 60px auto;
}

.about__text__container {
    width: 50%;
}

.about__title {
    color: #292929;
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
}

.about__text {
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    color: #000;
}

.about__button {
    background: #12979B;
    border-radius: 10px;
    font-style: normal;
    font-weight: 700;
    font-size: 20px;
    line-height: 25px;
    color: #FFFFFF;
    width: 160px;
    height: 45px;
    border: none;
    margin-top: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.about__img__container {
    width: 50%;
}

.about__img {
    width: 100%;
    max-width: 575px;
    height: 514px;
    object-fit: contain;
}

.emergency__image {
    width: 100%;
    max-height: 675px;
    height: 100%;
    object-fit: contain;
}


.form__container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.comments {
    border-top: 1px solid #000000;
    margin: 60px 0;
    padding-top: 90px;
}

.comments__wrapper {
    max-width: 1200px;
    margin: 0 auto;
}

.comments__title {
    color: #292929;
    margin-bottom: 60px;
}


@media screen and (max-width: 1200px) {
    .service__info {
        margin: 36px auto 50px;
    }

    .title__wrapper {
        max-width: 90%;
    }

    .service__info__wrapper {
        overflow-x: auto;
        padding: 5px 26px;
        justify-content: space-between;
    }

    .service__info__wrapper::-webkit-scrollbar {
        display: none;
    }

    .dental__care {
        flex-wrap: wrap;
        gap: 40px;
        justify-content: center;
        max-width: 80%;
        margin: 0 auto;
    }

    .dental__care__text__wrapper {
        text-align: center;
    }

    .dental__care__text {
        margin: 34px auto;
    }

    .about {
        flex-direction: column;
        gap: 34px;
    }

    .about__text__container {
        order: 2;
        width: 80%;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }

    .about__clinic__link {
        margin-right: auto;
    }

    .about__img__container {
        order: 1;
        width: 80%;
        display: flex;
        justify-content: center;
    }

    .about__img {
        width: 595px;
        max-width: 595px;
        height: 400px;
        object-fit: cover;
    }

    .emergency__image {
        width: 96%;
        margin: 0 auto 40px;
        display: block;
    }

    .comments__title {
        margin-left: 12%;
    }

}

@media screen and (max-width: 900px) {
    .service__info__list {
        width: 330px;
        min-width: 330px;
    }

    .dental__care__img {
        object-fit: cover;
    }

    .dental__care__text {
        font-size: 25px;
        line-height: 110%;
    }

    .dental__care__button {
        width: 350px;
        height: 50px;
        font-size: 15px;
    }
}

@media screen and (max-width: 768px) {
    .comments__title {
        margin-bottom: 40px;
    }

    .comments {
        margin: 50px 0;
        padding-top: 50px;
    }
}

@media screen and (max-width: 600px) {
    .service__info__list {
        padding: 20px 10px 20px 20px;
        width: 100%;
        min-width: auto;
    }

    .service__info__list:first-child {
        min-width: 220px;
    }

    .service__info__subtitle {
        font-size: 20px;
        line-height: 22px;
        white-space: pre;
    }

    .dental__care__text__wrapper {
        text-align: inherit;
    }

    /*.dental__care__title {*/
    /*    font-size: 24px;*/
    /*}*/
    .dental__care__text {
        font-size: 17px;
        margin: 10px auto 20px;
    }

    .dental__care__link {
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .about {
        margin: 36px auto;
    }

    .about__img {
        width: 100vw;
        max-width: 595px;
        max-height: 300px;
        height: auto;
    }

    .about__clinic__link {
        margin: 0;
    }

    .about__button {
        margin-top: 40px;
        font-size: 17px;
        font-weight: 700;
    }
}

@media screen and (max-width: 500px) {
    .title__wrapper {
        margin: 30px auto 0;
    }

    .service__info__wrapper {
        padding: 5px 16px;
    }

    .service__info__list {
        padding: 10px;
    }

    .service__info {
        margin: 30px auto 15px;
    }

    .dental__care {
        max-width: 100%;
        gap: 0;
    }

    .dental__care__img {
        display: none;
    }

    .about__title {
        margin-bottom: 15px;
    }

    .dental__care__text__wrapper {
        width: 90%;
    }

    .about {
        width: 90%;
        margin: 25px auto;
        gap: 20px;
    }

    .about__img__container {
        width: 100%;
    }

    .about__text__container {
        width: 100%;
    }

    .about__button {
        margin-top: 20px;
    }

    .comments {
        margin: 36px 0;
        padding-top: 20px;
    }

    .comments__title {
        margin-bottom: 20px;
        margin-left: 20px;
    }
}


@media screen and (max-width: 370px) {
    .dental__care__button {
        width: 90%;
        font-size: 14px;
    }
}

@media screen and (max-width: 350px) {
    .dental__care__button {
        font-size: 12px;
    }
}
