.container {
  margin: 0 auto;
  width: 50%;
}

.btn {
  border-radius: 11px;
  background: linear-gradient(317deg, #12979B 82.29%, rgba(62, 180, 184, 0.51) 100%);
  color: #FFF;
  font-size: 14px;
  font-family: Cera Pro, sans-serif;
  font-weight: 700;
  height: 45px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: none;
  cursor: pointer;
  min-width: 300px;
  margin: 0 auto;
}

.tags__container {
  margin: 50px;
}

.tag__wrapper {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 20px;
}

.tag__name {

}

.modal {
  background: #FFFFFF;
  border-radius: 14px;
  padding: 12px;
  min-width: 300px;
}

.modal__title {
  color: #292929;
  font-size: 25px;
  font-family: Cera Pro, sans-serif;
  font-weight: 700;
  text-align: center;
}

.modal__input {
  margin: 10px auto;
  padding: 10px 27px;
  border: none;
  width: 100%;
  border-radius: 15px;
  background: #F2F2F2;
}

.modal__btn {

}
