
.doctors {
  margin: 90px 0 100px;
}

.doctors__title {
  text-align: center;
}

.doctors__container {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 50px 40px;
  margin-top: 45px;
}

.doctor__wrapper {

}

.doctor__img {
  width: 367px;
  height: 420px;
  object-fit: contain;
}

.doctor__position {
  font-family: 'Cera Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 17px;
  line-height: 21px;
  color: #3D3D3D;
  text-align: center;
  margin-top: 30px;
}

.doctor__name {
  font-family: 'Cera Pro', sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 30px;
  line-height: 38px;
  color: #000000;
  text-align: center;
  margin-top: 10px;
}

@media screen and (max-width: 1200px) {
  .doctors__container {
    width: 80%;
    margin: 45px auto 0;
  }
}

@media screen and (max-width: 1000px) {
  .doctors__container {
    width: 90%;
  }
}

@media screen and (max-width: 870px) {
  .doctors {
    margin: 50px 0;
  }
  .doctors__container {
    flex-direction: column;
    align-items: center;
    gap: 40px;
  }
}

@media screen and (max-width: 410px) {
  .doctor__img {
    width: 100%;
    height: 350px;
    object-fit: cover;
  }
  .doctor__position {
    font-size: 16px;
    margin-top: 20px;
    line-height: 20px;
  }
}

@media screen and (max-width: 350px) {

  .doctor__position {
    margin-top: 15px;
    font-size: 14px;
    line-height: 18px;
  }
  .doctor__name {
    font-size: 27px;
    line-height: 35px;
  }
}
