.form {
  padding: 30px 40px;
  display: flex;
  flex-direction: column;
  align-items: center;
  //max-height: 370px;
  max-height: 460px;
  width: 100%;
  max-width: 580px;
  margin: 0 auto;
  background: #FFFFFF;
  box-shadow: 1px 1px 5px rgba(0, 0, 0, 0.25);
  border-radius: 15px;

  &:focus-visible {
    border: none;
    outline: none;
  }
}

.form__title {
  font-style: normal;
  font-weight: 700;
  font-size: 25px;
  line-height: 31px;

  color: #292929;
  margin-bottom: 30px;
}

.MuiInputBase-input {
  font-size: 14px !important;
}

.MuiTextField-root::placeholder {
  font-size: 14px;
}

.label {
  top: 14px;
  left: 15px;
}

.input {
  background: #F2F2F2;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  width: 100%;
  padding: 10px 27px !important;
  color: #292929;
  font-size: 14px;
  font-style: normal;
  font-weight: 500;
  line-height: normal;

  & input {
    padding: 0;
    color: #292929;
    font-size: 14px;
  }

  & label {
    top: -4px;
    left: 15px;
    font-size: 14px;
    color: #8B8D92;
  }
}


.input::placeholder {
  color: #8B8D92;
}

.input__date {
  padding: 0;
  background: #F2F2F2;
  border-radius: 15px;
  border: none;
  margin-top: 20px;
  width: 100%;
}

.button {
  margin-top: 24px;
  background: #12979B;
  border-radius: 10px;
  font-style: normal;
  font-weight: 700;
  font-size: 18px;
  line-height: 23px;
  color: #FFFFFF;
  border: none;
  width: 144px;
  height: 46px;
  min-height: 46px;
  cursor: pointer;
}

.button:disabled {
  opacity: 0.5;
  cursor: not-allowed;
}

@media screen and (max-width: 600px) {
  .form {
    width: 90%;
    padding: 14px 18px;
  }
  .form__title {
    font-size: 23px;
    line-height: 27px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .label {
    top: 8px;
  }
  .input {
    margin-top: 13px;
  }
  .button {
    margin-top: 15px;
  }
}

@media screen and (max-width: 420px) {
  .form {
    padding: 14px;
  }
  .form__title {
    font-size: 20px;
    line-height: 22px;
    font-weight: 700;
    margin-bottom: 10px;
  }
  .input {
    margin-top: 13px;
  }
  .button {
    margin-top: 15px;
    font-size: 16px;
    line-height: 20px;
  }
}
